
body {
  font-family: 'Roboto';
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('background.jpg');
  background-size: contain; /* Changed from cover to contain */
  background-position: center center; /* Center image on both axes */
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header-bar {
  background-color: transparent;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h2 {
  margin-top: 20px;
}

.button-container {
  text-align: center;
  margin-top: 30px;
}

.form-container,
.criteria-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.criteria-container {
  margin-right: 20px;
}

.criteria-container table {
  width: 100%;
  border-collapse: collapse;
}

.criteria-container th,
.criteria-container td {
  border: 2px solid black;
  padding: 12px;
  text-align: center;
  font-size: 30px;
}

.criteria-container th {
  font-size: 25px;
}

.criteria {
  font-size: 36px;
  color: #333;
  padding: 40px;
  margin: 0 auto;
  background-color: #d9d9dd;
  border: 2px solid #3b1a08;
  border-radius: 10px;
  text-align: center;
  display: inline-block;
}

/* Button Styles */
.button,
.link-button,
.container button[type="submit"],
.small-button {
  background-color: #ffffff;
  border: 2px solid black;
  border-radius: 10px;
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Roboto';
  margin: 5px 0;
  display: inline-block;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Add transition */
  font-weight: bold;
}

.button:hover,
.link-button:hover,
.container button[type="submit"]:hover,
.small-button:hover {
  background-color: black;
  color: #fff;
  border-color: black;
  font-weight: bold;
}

.container {
  max-width: 800px;
  margin: 290px 0 0 50px;
  padding: 20px;
  background: white;
  border: transparent;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container p {
  margin-bottom: 20px;
}

.container form {
  margin-top: 20px;
}

.container textarea {
  box-sizing: border-box; /* Include padding and border in width calculation */
  width: 100%; /* Set to 100% to fill the container */
  height: 200px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

textarea {
  width: 90%; /* Set width to 90% for additional padding */
  padding-right: 20px; /* Add padding to the right */
}

/* Style the file input */
input[type="file"] {
  display: none;  /* Hide the default file input */
}

.custom-file-upload {
  display: inline-block;
  padding: 10px 18px;
  border: 2px solid #000000; /* Customize border color */
  border-radius: 10px;
  color: black; /* Customize text color */
  background-color: rgb(255, 255, 255); /* Button background */
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s; /* Smooth transition */
  margin: 15px 0; /* Add some margin */
  font-weight: bold;
}

.custom-file-upload:hover {
  background-color: black; /* Background color on hover */
  color: white; /* Change text color on hover */
  border-color: transparent; /* Change border color on hover */
}

@font-face {
  font-family: 'Seasons';
  src: url('../fonts/FONTSPRINGDEMO-TheSeasonsBold.woff2') format('woff2'),
      url('../fonts/FONTSPRINGDEMO-TheSeasonsBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
