@media only screen and (min-width: 1281px) {
    .content-wrapper{
        margin-top:clamp(1rem, 7.5vh, 7.3rem);
        background: transparent;
        grid-template-columns: repeat(1,1fr 1fr);
        grid-auto-columns: 1fr;
    }

    .container{
        background-color: white;
        margin: 3%;
    }

    .box  textarea, .box1 textarea{
        font-size: clamp(1rem,1vh,5rem);
    }

    .tips-header{
        background:transparent;
    }

    .tips-header h1{
        font-size: clamp(1rem, 3vh, 4rem);
    }

    .tips-header img{
        width: clamp(3vw, 5%, 10vw);
    }

    .tips-grid{
        margin: 0rem 1rem 1rem 1rem;
        grid-template-columns: 2fr 1fr; /* First column is twice as wide as the second */
    }

    .tip1, .tip3, .tip5 {
        font-size: clamp(0.5rem,2vh,10rem);
        padding: 1rem;
    }


    .tips-container {
        color: white;
        font-size: 1.2rem;
        top: 100vh;
    }
}